*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    /* no select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.025);
}

.colorContainer {
    display: grid;
    grid-template-rows: [row1] 100px [row2] 100px [row3] 100px [row4] 100px [row5] 100px;
    grid-template-columns: [col1] 100px [col2] 100px [col3] 100px [col4] 100px [col5] 100px;
    grid-gap: 30px;
}

.colorItem {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.empty {
    transition: 500ms ease-in-out;
    background-color: rgba(20, 20, 20, 0.05);
}

.waiting {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 3px 3px 10px 5px lightyellow;
    color: darkslateblue;

}

.multipleWaiting {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: lightcyan;
    box-shadow: inset 2px 2px 10px 5px ghostwhite;
    border: 1px solid ghostwhite;
    color: darkslateblue;
}

.received {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: lightskyblue;
    /*box-shadow properties: h-offset v-offset blur spread color*/
    box-shadow: inset 4px 4px 10px 5px lightcyan;
    border: 1px solid lightcyan;
    color: #555;
}

.multipleReceived {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: mediumblue;
    box-shadow: inset 2px 2px 10px 5px lightskyblue;
    border: 1px solid lightskyblue;
    color: lightgrey;
}

.rejected {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: orangered;
    /*box-shadow properties: h-offset v-offset blur spread color*/
    box-shadow: inset 4px 4px 10px 5px #ffc515;
    border: 1px solid #ffc515;
    color: lightyellow;
}

.multipleRejected {
    position: relative;
    transition: 500ms ease-in-out;
    background-color: darkred;
    box-shadow: inset 2px 2px 10px 5px orangered;
    border: 1px solid orangered;
    color: lightgoldenrodyellow;
}

.received::before, .multipleReceived::before,
.waiting::before, .multipleWaiting::before,
.rejected::before, multipleRejected::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: -5;
}

.multipleReceived::before {
    box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.controlButton {
    display: flex;
    width: fit-content;
    border: 1px solid darkgrey;
    height: fit-content;
    padding: 5px 10px;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    transition: background-color, color, 250ms ease-in-out;
}

.controlButton:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    color: ghostwhite;
}

.controlButton:active {
    background-color: darkgrey;
}