* {
    box-sizing: border-box;
}

.colorContainer {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 30px;
}

.colorItem {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.empty {
    background-color: lightgrey;
}

.waiting {

}

.multipleWaiting {

}

.received {
    background-color: lightskyblue;
}

.multipleReceived {
    background-color: blue;
}

.controlButton {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.controlButton:hover {
    border: 1px solid darkgrey;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: ghostwhite;

}